
ion-header, ion-toolbar{
    --background: #06B5CB;
    --color: #fff;
  }
  
  ion-contennt {
    
    --background: #E5F2F4;
    --color: #fff;
  }
  
  .cssAgregar {
    --background: rgb(231, 247, 250);
    --color: rgb(0,0,0);
  }
  
  .cssBuscar {
    --background: #E5F3EE;
    --color: rgb(0,0,0);
  }
  
  .cssGet {
    --background: #EEEFF5;
    --color: rgb(0,0,0);
  }