<ion-header>
    <ion-toolbar>
      <ion-title>
          <div class="ion-text-center">
              Configurar
          </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid >
    <ion-row> 
      <ion-card>
        <ion-card-content>
            <ion-item>
              <ion-label>URL:</ion-label> 
              <ion-input placeholder="Ingresa el nombre" [(ngModel)]="urlapi"></ion-input>
            </ion-item>
            <div class="ion-text-center">
                <ion-button expand="block" color="success" (click)="aceptar()">Aceptar</ion-button>
            </div>
          </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
